<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chat App</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    Chat App
    <hr>
    <form class="" action="index.html" method="post">
      <input type="username" name="" value=""><br>
      <input type="password" name="" value=""><br>
      <button type="button" name="button">Login/Sign Up</button>
    </form>
  </body>
</html>
